---
layout: layout
title: Steven Hicks
metaDescription: Ramblings on development, life, and the development life. By Milwaukee developer Steven Hicks.
---
include /mixins.pug

h1.sr-only Steven Hicks

h3.first Hello, friends!

p I'm #[strong Steven Hicks]. I am a #[strong web generalist] with 20 years of experience. I'm currently focused on #[strong React] development.

p I share my experience and perspective through #[a(href='/speaking') speaking], #[a(href='/articles') writing], and #[a(href='/workshops/building-your-first-react-app/') teaching].

p You can get in touch with me via #[a(href='https://twitter.com/pepopowitz') Twitter] or #[a(href='mailto:steven.j.hicks@gmail.com') email].

p Thanks for stopping by!

hr
    
h2 Recent Articles
    
each article in collections.postsReversed.slice(0,5)
    article.content-article
        header
            h3
                a(href=article.url)= article.data.title
            h4.by-line #{formatDate(article.isoDate)}
        p !{article.data.snippet}
        a(href=article.url) Read about it!
        hr
        //p #{JSON.stringify(article.data)}

h3
    a(href='/articles') Read more articles

