---
layout: layout
title: Steven Hicks
metaDescription: Ramblings on development, life, and the development life. By Milwaukee developer Steven Hicks.
---
include /mixins.pug

.hero
    div.headline
        h1 Steven Hicks
        h2 MKE web development generalist and  speaker. Husband/dad/pack-mule, fake rock climber, and mediocre triathlete.
        h3 If you ain't falling, you ain't learning.
    img(src='/static/img/avatar.jpg' alt='Steven Hicks')
    
h3 Recent Stuff
    
each article in collections.postsReversed
    article.content-article
        header
            h2
                a(href=article.url)= article.data.title
            h3 #{formatDate(article.isoDate)}
        p !{article.data.snippet}
        a(href=article.url) Read about it!
        //p #{JSON.stringify(article.data)}
