---
layout: layout
title: Steven Hicks
metaDescription: Ramblings on development, life, and the development life. By Milwaukee developer Steven Hicks.
---
include /mixins.pug

p Hi friends! Write some stuff here about speaking, coding, and getting in touch.

hr
    
h2 Recent Articles
    
each article in collections.postsReversed.slice(0,5)
    article.content-article
        header
            h3
                a(href=article.url)= article.data.title
            h4.by-line #{formatDate(article.isoDate)}
        p !{article.data.snippet}
        a(href=article.url) Read about it!
        hr
        //p #{JSON.stringify(article.data)}

h3
    a(href='/articles') Read more articles

