extends /layout

block title
    title= title
        |  - Steven Hicks

block content
    h1= title
    h3.by-line Published #{formatDate(date)} by Steven Hicks
    if tagline
      p.tag-line
        em #{tagline}
    article.main-copy!= _layoutContent
