include /mixins.pug

doctype html
html(lang="en")
    head
        block title
            title #{title}
        meta(name='description', content=`${metaDescription || snippet}`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:title' content=`${title}`)
        meta(property='og:description' content=`${snippet || metaDescription}`)
        meta(property='og:url' content=`https://stevenhicks.me/${page.url}`)
        meta(property='og:site_name' content=`Steven Hicks`)
        meta(property='og:image' content=`https://www.stevenhicks.me/static/img/avatar.jpg`)
        meta(property='twitter:card' content=`summary`)
        meta(property='twitter:url' content=`https://stevenhicks.me/${page.url}`)
        meta(property='twitter:title' content=`${title}`)
        meta(property='twitter:description' content=`${snippet || metaDescription}`)
        meta(property='twitter:image' content='https://www.stevenhicks.me/static/img/avatar.jpg')

        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/foundation.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald|Merriweather') 
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 

    body
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-113131152-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-113131152-1');

        div.site
            .box.header
                a.navbar-brand(href='/') Steven Hicks
                a.navbar-brand(href='/about') About
                a.navbar-brand(href='/speaking') Speaking
            .content
                block content
                    div !{_layoutContent}
            .footer
                a(href='//twitter.com/pepopowitz')
                    i.fa.fa-twitter-square(aria-hidden='true')
                    span.sr-only
                        | @pepopowitz on Twitter
                a(href='/atom.xml')
                    i.fa.fa-rss-square(aria-hidden='true')
                    span.sr-only
                        | Atom Feed
                h6 &copy; Steven Hicks 2019
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
        script.
            hljs.initHighlightingOnLoad();
