include /mixins.pug

doctype html
html(lang="en")
    head
        block title
            title #{title}
        meta(name='description', content=`${metaDescription || snippet}`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:title' content=`${title}`)
        meta(property='og:description' content=`${snippet || metaDescription}`)
        meta(property='og:url' content=`https://stevenhicks.me/${page.url}`)
        meta(property='og:site_name' content=`Steven Hicks`)
        meta(property='og:image' content=`${shareImage || 'https://www.stevenhicks.me/static/img/avatar.jpg'}`)
        meta(property='twitter:card' content=`${shareImage ? 'summary_large_image' : 'summary'}`)
        meta(property='twitter:url' content=`https://stevenhicks.me/${page.url}`)
        meta(property='twitter:title' content=`${title}`)
        meta(property='twitter:description' content=`${snippet || metaDescription}`)
        meta(property='twitter:image' content=`${shareImage || 'https://www.stevenhicks.me/static/img/avatar.jpg'}`)

        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 

    body
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-113131152-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-113131152-1');

        #root
            #header
                .nav
                    a.navbar-brand(href='/articles') Articles
                    a.navbar-brand(href='/speaking') Speaking
                    a.navbar-brand(href='/about') About
                .avatar
                    a(href='/')
                        img(src='/static/img/avatar.jpg', alt='Steven Hicks')
                        div.shadow
            #content
                block content
                    div !{_layoutContent}
            #footer
                hr
                .legal
                    a(href='/atom.xml')
                        i.fa.fa-rss-square(aria-hidden='true')
                        span.sr-only
                            | Atom Feed
                    a(href='//twitter.com/pepopowitz')
                        i.fa.fa-twitter-square(aria-hidden='true')
                        span.sr-only
                            | @pepopowitz on Twitter
                    a(href='//github.com/pepopowitz')
                        i.fa.fa-github-square(aria-hidden='true')
                        span.sr-only
                            | pepopowitz on GitHub
                    a(href='mailto:steven.j.hicks@gmail.com')
                        i.fa.fa-envelope-square(aria-hidden='true')
                        span.sr-only
                            | Steven Hicks's email
                    h6 &copy; Steven Hicks 2020
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
        script.
            hljs.initHighlightingOnLoad();
